doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.custom-navbar
      .container
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarMain', aria-controls='navbarMain', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') Savorly
        #navbarMain.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/signup') Signup
    .container
      block content
      footer
        .row
          .col-12
            small &copy; Eleonora Blazhko 2024
    script(src='/javascripts/bootstrap.min.js')