extends layout
block content
  .row.banner
    .col-12
      h1 Login
  .container
    .login-form
      .main-div 
        form#Login
          .form-group
            input#inputEmail.form-control(type='email' placeholder='Email Address')
          .form-group
            input#inputPassword.form-control(type='password' placeholder='Password')
          .forgot
            a(href='location-review-form.pug') Forgot password?
          button.btn.btn-primary(type='submit') Login
    