extends layout
block content
  .row.banner
    .col-12
      h1 SignUp
  .container
    .signup-form
      .main-div
        form#SignUp
          .form-group
            input#inputName.form-control(type='text' placeholder='Name')
          .form-group
            input#inputEmail.form-control(type='email' placeholder='Email Address')
          .form-group
            input#inputPhone.form-control(type='tel' placeholder='Phone Number')
          .form-group
            input#inputPassword.form-control(type='password' placeholder='Password')
          button.btn.btn-primary(type='submit') SignUp
      